<!doctype html>
<html lang="en">
  <head>
  	<title>Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="static/css/style.css">

	</head>
	<body class="img js-fullheight" style="background-image: url(static/images/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">User Registration</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Sign Userself</h3>
		      	<form action="" class="signin-form" method="POST">
					{% csrf_token %}
				
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" name="name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="LastName" name="lname" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" name="email" required>
                    </div>
					<div class="form-group">
                     Add profile pic   <input type="File" class="form-control" name="pic" required>
                    </div>
                    <div class="form-group">
                        <label>gender</label>
                        <select name="gender"  class="form-control">
                            <option value=" " >Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Female">other</option>

                        </select>
                    </div>
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Username" name="uname" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" placeholder="Password" name="passw"  required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Sign up</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								
	            </div>
	         

	<script src="static/js/jquery.min.js"></script>
  <script src="static/js/popper.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/main.js"></script>

	</body>
</html>

